<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
</head>
  <body>
  <div class="container">
    <h2>E-Portfolio of Carter Erwin</h2>
    <nav>
      <li><a routerLink="/aboutme">About Me</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a href="https://github.com/cartererwin1">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/carter-erwin-89bb14266/">LinkedIn</a></li>
    </nav>
  </div>
  </body>
  <router-outlet></router-outlet>
</html>
