<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="aboutme.component.css">
</head>
<body>
    <div class="container">
        <img src="../assets/images/Black Technology LinkedIn Banner.png" alt="Banner" class="banner">

        <div class="content">
            <div class="left-side">
                <h2>Who Am I?</h2>
                <img src="../assets/images/me.png" alt="Me" class="profile-pic" style="width: 200px;">
                <p>
                    I am a 3rd year Computer Science student at Rochester Institute of Technology.
                    I am currently looking for a Software Engineering Internship in the US.
                </p>
                
            </div>

            <div class="right-side">
                <h2>Contact Information</h2>
                <p>Email: <a href="mailto:cartererwin.tech@gmail.com">cartererwin.tech@gmail.com</a></p>
                <img src="../assets/images/RITLOGO.png" alt="RIT Logo" class="rit-logo" style="width: 200px;">
            </div>
        </div>
    </div>
</body>
</html>
