<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>
<h3>All of my projects are available on my GitHub page accessible via the nav bar</h3>
<body>
  <h2>BestPathFinder</h2>
    <div class="container">
      <p>
        Finds the best path within a 3 dimensional space between a given list of x,y coordinate pairs.
        The 3D space has different types of terrains represented by each color. Uses A star search algorithm
        to determine the best path from each coordinate.
      </p>
      <img src="../assets/images/output.jpeg">
    </div>
    <h2>DutchOrEnglish</h2>
    <div class="container">
      <div class="container" id="dutch">
      <p>
        A machine learning based program that given a 15 word segment of either Dutch or English words
        will make a prediction based on several attributes regarding the input. It uses decision tree
        training to make the tree for its prediction.
      </p>
      </div>
      <div class="container">
        <div class="vertcontainer" id="input">
          <p>Input:</p>
          <p>description languages. In 2005, the 1985 paper in which the Yale shooting scenario was first</p>
          <p>zijn de loketten van dit station gesloten en is het een stopplaats geworden. Voor de</p>
          <p>tuples. A decision tree is a flow-chart-like structure, where each internal (non-leaf) node denotes a</p>
          <p>aankoop van allerlei vervoerbewijzen kan men bij voorkeur terecht aan de biljettenautomaat die ter beschikking</p>
          <p>werd een nieuw stationsgebouw, ontworpen door architect Paul Nouille, in gebruik genomen. De dienstwoning van</p>
        </div>
        <div class="vertcontainer" id="output">
          <p>Output:</p>
          <p>en</p>
          <p>nl</p>
          <p>en</p>
          <p>nl</p>
          <p>nl</p>
        </div>
      </div>
    </div>
    <h2>UFund</h2>
    <div class="container">
      <div class="container">
      <p>
        My first website! We used Angular for the front end and
        Java for the backend API. The website functions sort of like GoFundMe.
        Users can login in as Helpers or Managers.
        <img class="editable-image" src="../assets/images/UFUND SS.png">
      </p>
      </div>
      <div class="container">
      <p>
        Managers are able to add/remove needs for the people struggling
        in Palestine.
        <img class="editable-image" src="../assets/images/UFUND admin.png">
      </p>
    </div>
      <div class="container">
      <p>
        Helpers are able to select needs and add them to their "funding basket" which they can then checkout
        with and actually donate to the people in need.
        <img class="editable-image" src="../assets/images/UFUND Need Detail.png">
        <img class="editable-image" src="../assets/images/UFUND Basket.png">
      </p>
    </div>
    </div>
</body>
</html>
